{{> navbar}}
<div class="container mt-3">
  <h3>Ups, no encontramos lo que buscabas :(</h3>
  <img src="http://a.scpr.org/i/d0bbbb3ec1a6cf86090c6fe2d9128082/141881-full.jpg" alt="pepe">
  {{> backhome}}
</div>