{{> navbar}}
<div class="container mt-3">
  <h3 class="mb-3">404 - Ups, no encontramos lo que buscabas :(</h3>
  <img src="/img/peepo-sad.jpg" alt="pepe" style="max-width:600px;width=100%">
  {{> backhome}}
</div>