{{> navbar}}
<div class="container mt-3">
  <h3 class="mb-3">500 - El servidor explotó por un error desconocido</h3>
  <img src="/img/peepo-floor.jpg" alt="pepe" style="max-width:600px;width=100%">
  {{> backhome}}
</div>